.about {
  padding: $outter-mobile;
  &__title {
    color: $black;
    font-family: $accent;
    font-size: 2.4rem;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    font-family: $text;
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 77rem;
    text-align: justify;
    text-indent: 40px;
    width: 100%;
  }
}

.rules {
  padding-top: 6rem;
  &__title {
    font-family: $accent;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto 0 auto;
    max-width: 80rem;
  }
}

.rule {
  display: inline-block;
  font-family: $accent;
  font-size: 1.8rem;
  height: 9rem;
  margin: 1rem 0;
  max-width: 34rem;
  position: relative;
  transition: all 0.15s ease-in-out;
  width: 100%;
  &:hover {
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.25));
    transform: scale(1.05);
  }
  &__description {
    align-items: center;
    background-color: $white;
    clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    height: 8rem;
    justify-content: center;
    line-height: 1.5;
    padding: 1.5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0.5rem;
    width: calc(100% - 9rem);
  }
  &__category {
    align-items: center;
    background-color: $primary;
    clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
    color: $white;
    display: flex;
    font-size: 3.4rem;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 11rem;
  }
  &__icon {
    fill: $white;
    width: 6rem;
    &--small {
      width: 5rem;
    }
  }
}

.clubs {
  padding-top: 6rem;
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100rem;
  }
  &__title {
    font-family: $accent;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.club {
  background-color: $white;
  clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
  display: inline-block;
  height: 12rem;
  margin: 1rem;
  min-width: 13rem;
  padding: 1rem 2rem;
  &__shadow-container {
    display: inline-block;
    transition: all 0.15s ease-in-out;
    &:hover {
      filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.25));
      transform: scale(1.03);
    }
    &--nolink {
      &:hover {
        filter: none;
        transform: none;
      }
    }
  }
  &__logo {
    display: block;
    height: 65%;
    margin: 0 auto;
    max-width: 13rem;
    object-fit: contain;
  }
  &__name {
    font-family: $accent;
    font-size: 1.4rem;
    margin: 0.5rem 1rem 0 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .rules {
    &__flex-container {
      justify-content: space-around;
    }
  }
  .rule {
    width: 34rem;
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 7rem 1.5rem;
  }
}

@media (min-width: 1920px) {
  .clubs {
    &__flex-container {
      max-width: none;
    }
  }
}
