.about {
  padding: $outter-mobile;
  &__title {
    color: $black;
    font-family: $accent;
    font-size: 2.4rem;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    font-family: $text;
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 77rem;
    text-align: justify;
    text-indent: 40px;
    width: 100%;
  }
}

.rules {
  padding-top: 6rem;
  &__title {
    font-family: $accent;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto 0 auto;
    max-width: 75rem;
  }
}

.rule {
  display: inline-block;
  filter: $link-shadow-mobile;
  font-family: $accent;
  font-size: 1.6rem;
  height: 8rem;
  margin: 1rem;
  max-width: 28rem;
  position: relative;
  transition: all 0.15s ease-in-out;
  width: 100%;
  &__description {
    align-items: center;
    background-color: $white;
    clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
    display: flex;
    height: 6rem;
    justify-content: space-between;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &::before {
      background-color: $primary;
      clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
      content: "";
      height: 100%;
      padding: 1rem;
      text-align: center;
      width: 2.5rem;
    }
    &::after {
      background-color: $primary;
      clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
      height: 100%;
      padding: 1rem 2rem;
      text-align: center;
      width: 9rem;
    }
    &--general::after {
      content: url(../assets/icons/rules-general.svg);
    }
    &--2020::after {
      content: url(../assets/icons/rules2020.svg);
    }
  }
}

.clubs {
  padding-top: 6rem;
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
  }
  &__title {
    font-family: $accent;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.club {
  background-color: $white;
  clip-path: polygon(22px 0%, 100% 0%, calc(100% - 22px) 100%, 0% 100%);
  display: inline-block;
  height: 9rem;
  margin: 1rem 0.5rem;
  min-width: 13rem;
  outline: none;
  padding: 0.5rem 2rem;
  &__shadow-container {
    display: inline-block;
    filter: $link-shadow-mobile;
    transition: all 0.15s ease-in-out;
    &--nolink {
      filter: none;     
    }
  }
  &__logo {
    display: block;
    height: 65%;
    margin: 0 auto;
    max-width: 10rem;
    object-fit: contain;
  }
  &__name {
    font-family: $accent;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem 0 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .club {
    height: 12rem;
    min-width: 13rem;
    padding: 1rem 3rem;
    &__shadow-container {
      filter: none;
    }
    &__logo {
      max-width: 13rem;
    }
    &__name {
      font-size: 1.4rem;
    }
  }
  .rules {
    &__flex-container {
      justify-content: space-around;
    }
  }
  .rule {
    width: 34rem;
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 7rem 1.5rem;
  }
}

@media (min-width: 1920px) {
  .clubs {
    &__flex-container {
      max-width: none;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .rule {
    &:hover,
    &:focus {
      filter: $link-shadow-hover;
      outline-offset: 1rem;
      transform: scale(1.05);
    }
  }
  .club {
    &__shadow-container {
      &:hover {
        filter: $link-shadow-hover;
        transform: scale(1.03);
      }
      &:focus-within {
        filter: $link-shadow-hover;
        outline: auto;
        transform: scale(1.03);
      }
      &--nolink {
        &:hover {
          filter: none;
          transform: none;
        }
        &:focus {
          filter: none;
          transform: none;
        }
      }
    }    
  }
}