.contact {
  background-image: url("../assets/img/background-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $top-shadow, $bottom-shadow;
  padding: $outter-mobile;
  position: relative;
  &__shadow {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 20rem;
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  &__title {
    color: $white;
    font-family: $accent;
    font-size: 2.4rem;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    z-index: 60;
  }
  &__text {
    color: $white;
    font-family: $text;
    font-size: 1.6rem;
    position: relative;
    text-align: center;
    z-index: 60;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
  }
}

.contact-link {
  align-items: center;
  clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
  display: flex;
  margin: 0 1rem 1rem;
  padding: 1rem 3rem;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all .15s ease-in-out;
  z-index: 60;
  &::before {
    display: inline-block;
    width: 3.5rem;
  }
  &--mail::before {
    content: url("../assets/icons/mail.svg");
  }
  &--facebook::before {
    content: url("../assets/icons/fb.svg");
  }
  &__text {
    color: $white;
    font-family: $accent;
    font-size: 2rem;
    margin-left: 2rem;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
  }
}

.form {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.65);
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-family: $accent;
  font-size: 1.6rem;
  justify-content: flex-end;
  margin: 4rem auto 2rem;
  max-width: 80rem;
  padding: 2rem 1rem;
  width: 100%;
  &__flex-container {
    align-items: flex-end;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
  &__input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    flex-grow: 1;
    font-family: $text;
    font-size: 1.8rem;
    font-weight: 300;
    min-width: 0;
    overflow: hidden;
    padding: 0.5rem .5rem 0;
  }
  &__label {
    margin-right: 1rem;
  }
  &__clear-fix {
    clear: both;
  }
}

.submit {
  &__button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
    color: $white;
    cursor: pointer;
    font-family: $accent;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 2rem 3rem 2rem 7rem;
    position: relative;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
    &::before {
      content: url("../assets/icons/send.svg");
      fill: rgb(255, 255, 255);
      left: 3rem;
      position: absolute;
      width: 2.4rem;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      transform: scale(1.05);
    }
  }
}

@media (max-width: 420px) {
  .contact-link {
    &__icon {
      width: 3rem;
    }
    &__text {
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
  .form {
    padding-bottom: 7rem;
  }
  .submit {
    &__button {
      background-color: rgba(0, 0, 0, 0.8);
      bottom: 0;
      clip-path: none;
      left: 0;
      position: absolute;
      width: 100%;
      &::before {
        left: 30%;
      }
    }
  }
}

@media (min-width: 768px) {
  .form {
    padding: 3rem;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .contact {
    padding: 7rem 1.5rem;
  }
  .form {
    padding: 8rem 8rem 4rem;
    &__flex-container {
      margin-bottom: 4rem;
    }
  }
}
