.contact {
  background-image: url("../assets/img/background-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $top-shadow, $bottom-shadow;
  padding: $outter-mobile;
  position: relative;
  &__shadow {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 20rem;
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  &__title {
    color: $white;
    font-family: $accent;
    font-size: 2.4rem;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    z-index: 60;
  }
  &__text {
    color: $white;
    font-family: $text;
    font-size: 1.6rem;
    position: relative;
    text-align: center;
    z-index: 60;
  }
  &__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
  }
}

.contact-link {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.15s ease-in-out;
  z-index: 60;
  &__text {
    clip-path: polygon(15px 0%, 100% 0%, calc(100% - 15px) 100%, 0% 100%);
    color: $white;
    font-family: $accent;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    &::before {
      display: inline-block;
      margin-right: 2rem;
      width: 3.5rem;
      vertical-align: -50%;
    }
    &--mail::before {
      content: url("../assets/icons/mail.svg");
    }
    &--facebook::before {
      content: url("../assets/icons/fb.svg");
    }
    &:hover {
      background-clip: text;
      background-color: rgba(0, 0, 0, 0.6);
      transform: scale(1.05);
    }
  }

  &:focus-within {
    background-color: rgba(0, 0, 0, 0.6);
    outline: auto;
    outline-offset: .5rem;
    transform: scale(1.05);
  }
}

@media (max-width: 420px) {
  .contact-link {
    &__icon {
      width: 3rem;
    }
    &__text {
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .contact {
    padding: 7rem 1.5rem;
  }
}
