.footer {
  background-color: $dark-gray;
  color: $white;
  font-family: $text;
  font-size: 1.3rem;
  font-weight: 300;
  padding: $outter-mobile;
  padding-bottom: 1rem;
  text-align: center;
  &__before {
    &::before {
      content: url("../assets/icons/ino.svg");
      display: inline-block;
      margin: 0 0.5rem;
      width: 1rem;
    }
  }
}

.download {
  margin-bottom: 1rem;
  &__title {
    font-family: $accent;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  &__flex-container {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }
  &::after {
    border-bottom: 1px solid $white;
    content: "";
    left: calc(50% - 7.5rem);
    position: absolute;
    width: 15rem;
  }
}

.logo {
  margin: 0.5rem 1rem;
  &__link {
    color: $primary;
    display: inline-block;
    font-family: $accent;
    font-size: 1.6rem;
    line-height: 1;
    margin: .5rem;
    outline-offset: -.6rem;
    padding: 1rem .5rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
  }
}

.copyright {
  line-height: 2;
}

@media (min-width: 768px) {
  .logo {
    margin: 0.5rem 3rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .logo {
    &__link {
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
}
