.footer {
    background-color: $dark-gray;
    color: $white;
    font-family: $text;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2;
    padding: $outter-mobile;
    text-align: center;
    &__link {
        color: $white;
        font-weight: 500;
        transition: all .15s ease-in-out;
        &:hover {
            color: $primary;
        }
    }
}