.navigation {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: fixed;
  text-align: center;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 95;
  &__link {
    display: block;
    font-family: $accent;
    font-size: 1.8rem;
    padding: 2.5rem 1.5rem;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
  &--open {
    opacity: 1;
    transform: translateX(0);
  }
}

.hamburger {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 3.6rem;
  outline: none;
  position: fixed;
  right: 2rem;
  top: 2rem;
  transition: all 0.25s ease-in-out;
  width: 4rem;
  z-index: 100;
  &--open {
    width: 3.2rem;
  }
  &--scroll {
      background-color: rgba(0, 0, 0, .15);
      border-bottom-left-radius: 1rem;
      color: $primary;
      height: 5.6rem;
    padding: 1rem;
    right: 0;
    top: 0;
    width: 6rem;
}
  &__stick {
    background-color: $black;
    height: 0.4rem;
    right: 0;
    position: absolute;
    transform-origin: 100% 50%;
    transition: all 0.25s ease-in-out;
    width: 4rem;
    &--top {
      top: 0;
      &.hamburger--open {
        transform: rotate(-45deg);
        width: 4.6rem;
      }
      &.stick--scroll {
          background-color: $primary;
          right: 1rem;
          top: 1rem;
      }
    }
    &--middle {
      top: 1.6rem;
      &.hamburger--open {
        width: 0;
      }
      &.stick--scroll {
        background-color: $primary;
        right: 1rem;
        top: 2.6rem;
    }
    }
    &--bottom {
      bottom: 0;
      &.hamburger--open {
        transform: rotate(45deg);
        transform-origin: 100% 50%;
        width: 4.6rem;
      }
      &.stick--scroll {
        background-color: $primary;
        right: 1rem;
        bottom: 1rem;
    }
    }
  }
}

@media (min-width: 1024px) {
  .navigation {
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
    opacity: 1;
    padding: 0.6rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: none;
    z-index: 80;
    &__link {
      display: inline-block;
      font-size: 1.6rem;
      padding: 1.5rem;
    }
  }
  .hamburger {
    display: none;
  }
}
