.navigation {
    background-color: $white;
    display: none;
    padding: 5rem 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 95;
    &__link {
        display: block;
        font-family: $accent;
        font-size: 1.8rem;
        padding: 1.5rem 1.5rem;
        text-transform: uppercase;
        transition: color .15s ease-in-out;
        &:hover {
            color: $primary;
        }
    }
    &--open {
        display: block;
    }
}

.hamburger {
    font-size: 2rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 100;
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    .navigation {
        display: flex;
        justify-content: flex-end;
        padding: .6rem;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 80;
        &__link {
            display: inline-block;
            font-size: 1.6rem;
        }
    }
    .hamburger {
        display: none;
    }
}