.news {
  background-image: url("../assets/img/background-news.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $outter-mobile;
  position: relative;
  &__shadow {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.75) 20%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 20rem;
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  &__title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: $white;
    font-family: $accent;
    font-size: 2.4rem;
    margin: 1rem 0 2rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 90;
  }
}

.event {
  background-color: $white;
  position: relative;
  z-index: 80;
  &__table {
    border-spacing: 0;
    font-family: $accent;
    font-size: 1.4rem;
    margin: 2rem 0;
    position: relative;
    width: 100%;
    z-index: 90;
  }
  &__number {
    background: rgba(176, 250, 255, 0.5);
    padding: 0.7rem 0.51rem;
    text-align: right;
    text-transform: uppercase;
  }
  &__parameter {
    background-color: $primary;
    color: $white;
    padding: 0.7rem 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: 20%;
    &--first {
      padding-top: 2rem;
    }
    &--last {
      padding-bottom: 2rem;
    }
  }
  &__data {
    padding: 0.7rem 1.5rem;
    &--first {
      padding-top: 2rem;
    }
    &--last {
      padding-bottom: 2rem;
    }
  }
  &__link {
      color: $primary-dark;
  }
}

@media (min-width: 1024px) {
  .news {
    padding: $outter-desktop;
  }
}
