// COLOURS

$primary: #5BDCF0;
$primary-dark: #40A1A8;
$primary-light: #B0FAFF;

$white: #fff;
$black: #000;


// FONTS

$text: 'Roboto', sans-serif;
$accent: 'Prosto One', cursive;


// PADDING

$outter-desktop: 1.5rem;
$outter-mobile: 2rem;