// COLOURS

$primary: #fad016;
$primary-dark: #947c47;
$primary-darker: #574521;
$primary-light: #fff58b;
$primary-lighter: #fffac5;

// $primary: #5BDCF0;
// $primary-dark: #40A1A8;
// $primary-light: #B0FAFF;
// $primary-lighter: #D7FCFF;

$white: #fff;
$black: #000;

$gray: #888;
$dark-gray: #353535;
$light-gray: #eee;


// FONTS

$text: 'Roboto', 'Open Sans', Arial, sans-serif;
$accent: 'Prosto One', Trebuchet, Tahoma, sans-serif;


// PADDING

$outter-desktop: 1.5rem;
$outter-mobile: 4rem 2rem;


// SECTION SHADOWS

$top-shadow: 0px -8px 16px rgba(0, 0, 0, 0.35);
$bottom-shadow: 0px 8px 16px rgba(0, 0, 0, 0.35);