@import "~normalize.css";

@import "_variables";
@import "modules/nav.scss";

body {
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
